html, body{
    height: 100%;
    /* background-color: rgb(29, 29, 29); */
    background-color: rgb(11, 26, 12);
}

*{
    color: white;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.links a:hover{
  color: lightgray;
  opacity: .7;
}

.menu{
    display: flex;
    justify-content: center;
    margin: auto;
}

.menu, h3{
    padding: 0px 7px 0px 7px;
}

.header{
    text-align: center;
}

.links h4{
    display: inline-block;
    margin: 25px 0px 25px 0px;
    padding: 0px;
}

.links a{
    margin-right: 20px;
}

.separator{
    padding: 1px 0px 1px 0px;
    margin: 0px 0px 10px 0px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.intro{
    display: grid;
    justify-content: center;
}

#welcome{
    text-align: center;
    font-size: xx-large;
}

.intro p{
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.intro img{
    width: 240px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: ; */
}

.header-2{
    text-align: center;
}

.header-2 img{
    display: flex;
    justify-content:baseline;
    rotate: 90deg;
    width: 30px;
    height: 30px;
}