html, body{
    height: 100%;
    background-color: rgb(29, 29, 29);
}

*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: lightgray;
}

.header{
    display: flex;
    padding: 0px;
}

.header img{
    width: 20%;
    border-radius: 25px;
}

.menu{
    display: flex;
    margin: auto;
    /* width: 50%; */
    height: 50%;
}

.menu, h3{
    color: white;
    padding: 0px 7px 0px 7px;
}

.links{
    display: contents;
    justify-content: center;
    align-content: center;
    /* text-indent: 50px; */
}