html, body{
    height: 100%;
    background-color: rgb(29, 29, 29);
}

*{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: lightgray;
}

.menu{
    display: flex;
    margin: auto;
    width: 50%;
}

.menu, h3{
    color: white;
    padding: 0px 7px 0px 7px;
}

.header h3, a{
    display: inline-block;
    text-align: top;
    padding: 0px;
    margin: 0px;
}

.header img{
    width: 90px;
    border-radius: 25px;
}

.links{
    color: lightgray;
    display: contents;
    justify-content: center;
    align-content: center;
    text-indent: 50px;
}

.header-2{
    text-align: center;
}

.header-2 img{
    display: flex;
    justify-content:baseline;
    rotate: 90deg;
    width: 30px;
    height: 30px;
}